<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styleHome.css" />
  </head>
  <body>
    <div class="container">
      <div class="left_section">
        <h1>Easy way to get full control over your cursus</h1>
        <p>
          A powerful tool that can help you stay organised and manage your
          courses efficiently.
        </p>
        <div>
          <div>App Store</div>
          <div>Microsoft Store</div>
        </div>
        <div>
          <h2>4.6K</h2>
          <h5>Users already using the app.</h5>
        </div>
      </div>
      <div class="right_section">
        <img src="./images/Design-TIME.jpg" alt="" width="40%" />
      </div>
    </div>
  </body>
</html>
